.cardrow {
    margin: 0 auto;
}
h3 {
    text-align: center;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.instructions {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
